<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dombro.cloudCall.dao.info.EnterpriseCustomerMapper" >
  <resultMap id="BaseResultMap" type="cn.dombro.cloudCall.entity.EnterpriseCustomer" >
    <id column="ec_id" property="ecId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="license" property="license" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="BIGINT" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ec_id, username, password, company_name, license, phone_number, email, account
  </sql>
  <select id="getComNameById" resultType="java.lang.String">
    SELECT company_name FROM enterprise_customer
    WHERE ec_id = #{ecId,jdbcType=INTEGER}
  </select>
  <select id="getAll" resultMap="BaseResultMap">
    SELECT * FROM enterprise_customer
  </select>
  <select id="selectPswByUser" resultType="java.lang.String">
    SELECT password FROM enterprise_customer
    WHERE username = #{username,jdbcType=VARCHAR}
  </select>
  <select id="selectByUser" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM enterprise_customer
    WHERE username = #{username,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from enterprise_customer
    where ec_id = #{ecId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from enterprise_customer
    where ec_id = #{ecId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.dombro.cloudCall.entity.EnterpriseCustomer" >
    insert into enterprise_customer (ec_id, username, password, 
      company_name, license, phone_number, 
      email, account)
    values (#{ecId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{license,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=BIGINT}, 
      #{email,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.dombro.cloudCall.entity.EnterpriseCustomer" >
    insert into enterprise_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ecId != null" >
        ec_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="license != null" >
        license,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="account != null" >
        account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ecId != null" >
        #{ecId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="license != null" >
        #{license,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.dombro.cloudCall.entity.EnterpriseCustomer" >
    update enterprise_customer
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="license != null" >
        license = #{license,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=BIGINT},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
    </set>
    where ec_id = #{ecId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.dombro.cloudCall.entity.EnterpriseCustomer" >
    update enterprise_customer
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      license = #{license,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=BIGINT},
      email = #{email,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR}
    where ec_id = #{ecId,jdbcType=INTEGER}
  </update>
</mapper>